<mat-form-field
  *ngIf="!isCheckbox"
  class="w-100 position-relative"
  appearance="outline"
  color="primary"
>
  <mat-label>{{ field.name }}</mat-label>
  <textarea
    matInput
    class="text-area-input"
    *ngIf="isTextArea"
    [(ngModel)]="field.value"
    [disabled]="!isEditable"
  ></textarea>

  <input
    matInput
    *ngIf="isInput"
    [type]="field.type!"
    [(ngModel)]="field.value"
    [disabled]="!isEditable"
  >

  <mat-select
    *ngIf="isDropdown"
    [(ngModel)]="field.value"
    [disabled]="!isEditable"
  >
    <mat-option
      *ngFor="let option of field.options"
      [value]="option.value">
        {{ option.label }}
    </mat-option>
  </mat-select>

  <button
    mat-raised-button
    *ngIf="isEditable"
    class="delete-field-btn fixed-side-btn"
    (click)="handleFieldDelete()"
    color="primary"
    >
    <mat-icon>delete</mat-icon>
  </button>
</mat-form-field>

<div
  class="row me-1"
  *ngIf="isCheckbox"
>
  <mat-checkbox
    class="col mt-3 w-100"
    color="primary"
    [(ngModel)]="field.value"
    >
    {{ field.name }}
  </mat-checkbox>

  <button
    mat-raised-button
    *ngIf="isEditable"
    class="delete-field-btn checkbox-delete-btn"
    (click)="handleFieldDelete()"
    color="primary"
    >
    <mat-icon>delete</mat-icon>
  </button>
</div>
