<mat-form-field
  *ngIf="!isCheckbox"
  class="w-100"
  appearance="outline"
  color="primary"
>
  <mat-label>{{ field.name }}</mat-label>
  <textarea
    matInput
    *ngIf="isTextArea"
    [(ngModel)]="field.value"
    [disabled]="!isEditable"
  ></textarea>

  <input
    matInput
    *ngIf="isInput"
    [type]="field.type!"
    [(ngModel)]="field.value"
    [disabled]="!isEditable"
  >

  <mat-select
    *ngIf="isDropdown"
    [(ngModel)]="field.value"
    [disabled]="!isEditable"
  >
    <mat-option
      *ngFor="let option of field.options"
      [value]="option.value">
        {{ option.label }}
    </mat-option>
  </mat-select>
</mat-form-field>


<mat-checkbox
  *ngIf="isCheckbox"
  class="w-100 mt-3"
  color="primary"
  [(ngModel)]="field.value"
  >
  {{ field.name }}
</mat-checkbox>
