<div class="container">
  <div class="row">
    <div class="col row">
      <app-snowcard-field
        class="col-{{fieldSize}}"
        *ngFor="let field of section.fields"
        [field]="field"
        [isEditable]="isEditMode"
        (delete)="handleFieldDelete($event)"
      >
      </app-snowcard-field>
    </div>


    <button
      mat-stroked-button
      class="add-field-btn"
      *ngIf="section.fields!.length < 3 && isEditMode && !hasTextAreaField"
      (click)="handleFieldAdd()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
